body {
    background: linear-gradient(135deg, #FFF8CC, #FFE066, #FFC94A);
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
}

#main-menu {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60px;
    color: darkgreen;
    margin-top: 10px;
}

button {
    background: linear-gradient(to bottom, #4CAf50, #176B32);
    color: white;
    border: 4px solid #F2B705;
    border-radius: 18px;
    padding: 18px 35px;
    min-width: 220px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 
        0 7px 0 #A56A00,
        0 12px 20px rgba(0, 0, 0, 0.25);

    transition: 0.2s;
}

#logo {
    width: 800px;
    max-width: 80%;
    margin-bottom: 20px;
    height: auto;
}

#game-screen {
    display: none;
    text-align: center;
}

.tagline {
    font-size: 32px;
    font-weight: bold;
    color: linear-gradient(to right, #1B5E20, #43A047, #D89B00);
    background-clip: text;
    color: transparent;
    margin: 10px 0 35px;
}

button:hover {
    transform: translateY(-4px) scale(1.05);
    background: linear-gradient(to bottom, #4CAf50, #176B32);
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #A56A00,
    0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#menu-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
}