body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 60px;
    color: darkgreen;
    margin-bottom: 10px;
}